<!DOCTYPE html>
<html lang="en"  xmlns:th="http://www.thymeleaf.org" th:replace="base::Layout(~{::section})">
<head>
  <meta charset="UTF-8">
  <title>Events Home</title>
</head>
<body>

<section>

  <nav class="navbar navbar-expand-lg navbar-light bg-light">
    <div class="container-fluid justify-content-start">
      <form th:action="@{/user/manage/friends/{email}(email=${otherEmail})}" method="get">
        <input type="submit" value="Friends" class="btn btn-success" style="width:130px;" />
      </form>
      &nbsp;&nbsp;
      <form th:action="@{/user/manage/family/{email}(email=${otherEmail})}" method="get">
        <input type="submit" value="Family Ancestry" class="btn btn-success" style="width:130px;" />
      </form>
      &nbsp;&nbsp;
      <form th:action="@{/user/manage/frndreq/{email}(email=${otherEmail})}" method="get">
        <input type="submit" value="All Requests" class="btn btn-success" style="width:130px;" />
      </form>
      &nbsp;&nbsp;
      <form th:action="@{/manage/eventsHome/{email}(email=${otherEmail})}" method="get">
        <input type="submit" value="Events" class="btn btn-success" style="width:130px;" />
      </form>
      &nbsp;&nbsp;
      <form th:action="@{/manage/travel/travelhome/{email}(email=${otherEmail})}" method="get">
        <input type="submit" value="Travel" class="btn btn-success" style="width:130px;" />
      </form>
      &nbsp;&nbsp;
      <form th:action="@{/manage/justHappened/{email}(email=${otherEmail})}" method="get">
        <input type="submit" value="Just Happened" class="btn btn-success" style="width:130px;" />
      </form>
      &nbsp;&nbsp;
      <form th:action="@{/manage/bucketListHome/{email}(email=${otherEmail})}" method="get">
        <input type="submit" value="Bucket List" class="btn btn-success" style="width:130px;" />
      </form>
    </div>
  </nav>


  <div class="container">
    <div class="row justify-content-center mt-5">
      <div class="col-md-6">
        <div class="card">
          <div class="card-body">
            <h5 class="card-title text-center">Add Travel Location</h5>
            <form id="add-event-form" th:action="@{/manage/travel/add/{email}(email=${otherEmail})}" method="post" enctype="multipart/form-data">
              <div class="form-group">
                <label for="travel">Travel Name :</label>
                <input type="text" class="form-control" id="travel" name="travel" required>
              </div>
              <button type="submit" class="btn btn-primary btn-block">Add</button>
            </form>
          </div>
        </div>
      </div>
    </div>
  </div>
  </br>


  <div style="display: flex; flex-wrap: wrap; justify-content: center; gap: 20px; height: 100PX;" class="card-container">
    <div style="width: 300px; border: 1px solid #ddd; border-radius: 10px; box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.1); overflow: hidden;" th:each="travel : ${allTravel}" class="card">
      <div style="height: 100%; background-color: #28a745; display: flex; opacity:0.9; justify-content: center; align-items: center;">
        <a style="display: block; color: #fff; text-decoration: none; text-align: center; padding: 10px; border-radius: 5px;"
           th:href="@{/manage/travel/{travelId}/{email}(travelId=${travel.travelId},email=${otherEmail})}" th:text="${travel.travelName}"></a>
      </div>
    </div>
  </div>

</section>

<script>
  document.getElementById("add-event-form").addEventListener("submit", function(event) {
    event.preventDefault(); // prevent the form from submitting

    // get the event name from the input field
    const eventName = document.getElementById("event").value;

    // create a new table row with the event name
    const newRow = document.createElement("tr");
    newRow.innerHTML = `<td><label>${eventName}</label></td>`;

    // add the new row to the table
    document.getElementById("event-table").appendChild(newRow);

    // reset the form
    document.getElementById("add-event-form").reset();
  });
</script>

</body>
</html>
